@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajuste global para garantir altura total e fonte */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F3F4F6; /* salomao-light */
}
